body {
    height: 550px;
    width: 550px;
    background: #1F2937;
    font-family: i;
}

.hero {
    margin-top: 180px;
    border-bottom: 3px solid #2F3E53;
    margin-bottom: 35px;
    margin-left: 52px;
}

h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: -0.025em;
}

#word-el {
    display: block;
    color: #55F991;
}

h4 {
    height: 30px;
    color: #D5D4D8;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 51px;
}

button {
    height: 45px;
    width: 225px;
    border-radius: 8px;
    font-size: 16px;
    color: #fff;
    background: #10B981;
    margin-bottom: 35px;
    border-color: transparent;
}

#icon {
    padding-right: 10px;
}

/* input fields */

#input-el {
    margin-left: 52px;
    color: #202B3C;
    display: flex;
    text-align: center
}

.input-box {
    text-align: center;
    height: 40px;
    width: 215px;
    border-radius: 11px;
    background: #273549;
    border-color: transparent;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box1 {
    margin-right: 27px;
    margin-bottom: 27px;
}

#box2 {
    margin-bottom: 27px;
}

#box3 {
    margin-right: 27px;
    margin-bottom: 27px;
}

